# Fail2Ban configuration file
#
# Author: Cyril Jaquier
#
# $Revision$
#

# Managed by Puppet

[Definition]

# These settings override the defaults in fail2ban.conf.

<% unless @log_level.nil? %>loglevel = <%= @log_level -%>
<% end %><% unless @log_target.nil? %>logtarget = <%= @log_target -%>
<% end %><% unless @socket.nil? %>socket = <%= @socket -%>
<% end %><% unless @pidfile.nil? %>pidfile = <%= @pidfile -%>
<% end %>

