# Managed by Puppet.

[<%= @name %>]

<% unless @action.nil? %>action = <%= @action %>
<% end %><% unless @backend.nil? %>backend = <%= @backend %>
<% end %><% unless @bantime.nil? %>bantime = <%= @bantime %>
<% end %><% unless @enabled.nil? %>enabled = <%= @enabled %>
<% end %><% unless @failregex.nil? %>failregex = <%= @failregex %>
<% end %><% unless @filter.nil? %>filter = <%= @filter %>
<% end %><% unless @findtime.nil? %>findtime = <%= @findtime %>
<% end %><% unless @ignorecommand.nil? %>ignorecommand = <%= @ignorecommand %>
<% end %><% unless @ignoreip.nil? %>ignoreip = <%= @ignoreip %>
<% end %><% unless @ignoreregex.nil? %>ignoreregex = <%= @ignoreregex %>
<% end %><% unless @logpath.nil? %>logpath = <%= @logpath %>
<% end %><% unless @maxretry.nil? %>maxretry = <%= @maxretry %>
<% end %><% unless @port.nil? %>port = <%= @port %>
<% end %><% unless @usedns.nil? %>usedns = <%= @usedns %>
<% end %>